#guessing-container {
    position: relative;
    text-align: center;
    padding: 40px;
    background: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#guessing-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.6);
}

#under-title {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}

#person-name {
    margin-bottom: 3rem;
}

button[data-guess="alive"] {
    color: black;
    background: linear-gradient(45deg, #00e676, #1de9b6);
}

button[data-guess="dead"] {
    color: black;
    background: linear-gradient(45deg, #ff0055, #ff002b);
}